<% @projects.each do |project| %>
  <div class="container row" data-kanban-target="taskBoard" data-project-id="<%= project.id %>">
      <%= render 'tasks/column', column_status: "unassigned", project: project %>
      <%= render 'tasks/column', column_status: "assigned", project: project %>
      <%= render 'tasks/column', column_status: "in progress", project: project %>
      <%= render 'tasks/column', column_status: "complete", project: project %>
  </div>
<% end %>
