<div id="<%= dom_id project %>">
  <p>
    <strong>Name:</strong>
    <%= project.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= project.description %>
  </p>

  <p>
    <strong>Complete:</strong>
    <%= project.complete %>
  </p>

  <p>
    <strong>Creator:</strong>
    <%= project.creator_id %>
  </p>

</div>
