<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1> <%= @task.title %> Assigned to You!</h1>
    <p>
      <%= @recipient.first_name %>, <%= @task.creator.first_name %> <%= @task.creator.last_name %> has assigned you a task.
    </p>
    <p>
      Description: <%= @task.description %>
    </p>
    <p>Reply to this email to update them on your progress!</p>
    
    <p>Thank you!</p>
  </body>
</html>