<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1> <%= @task.title %> Assigned to You!</h1>
    <p>
      <%= @recipient.first_name %>, you've been assigned this task by <%= @task.creator.first_name %> <%= @task.creator.last_name %>
    </p>
    <p>
      Description: <%= @task.description %>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>